# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend
backend/.env
backend/chroma_db/*
backend/faiss_index/*
backend/data/history.txt
backend/data/
!backend/chroma_db/.gitignore
!backend/faiss_index/.gitignore
__pycache__
*.pyc
*.pyo
.Python
venv
.venv
env
*.egg-info
.eggs
.env
# Test coverage
coverage
.coverage
htmlcov
